<!DOCTYPE html>
<html xmlns="http://www.w3.org/1/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Create Profile</title>
</head>
<body>
	 <form action="#"  method="post">
    	<p>Id: <input type="text"/></p>
        <p>First Name: <input type="text" /></p>
        <p>Last Name: <input type="text"  /></p>
        <p>Email: <input type="text"  /></p>
        <p>address: <input type="text"  /></p>
        <p>organization: <input type="text"  /></p>
        <p>About Myself: <input type="text" /></p>
        <p><input type="submit" value="Create" /></p>
    </form> 
   <!--  <form action="#" th:action="@{/profile}" th:object="${profile}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" readonly="readonly"/></p>
        <p>First Name: <input type="text" th:field="*{firstname}" /></p>
        <p>Last Name: <input type="text" th:field="*{lastname}" /></p>
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>address: <input type="text" th:field="*{address}" /></p>
        <p>organization: <input type="text" th:field="*{organization}" /></p>
        <p>About Myself: <input type="text" th:field="*{aboutMyself}" /></p>
        <p><input type="submit" value="Delete" /> <input type="submit" value="Update" /></p>
    </form> -->
</body>
</html>